<!DOCTYPE html>
<html lang="fr">
  <!-- Head.ejs include -->
  <%- include('head') %>
  <body>
    <header>
      <h1>Connexion avec FranceConnect</h1>
    </header>

    <main>
      <div class="fr-connect-group">
        <button
          onclick="location.href='<%= redirectURL %>'"
          class="fr-connect"
          id="france-connect"
          type="button"
        >
          <span class="fr-connect__login">S’identifier avec</span>
          <span class="fr-connect__brand">FranceConnect</span>
        </button>
        <p>
          <a
            href="https://franceconnect.gouv.fr"
            id="connect-link-1"
            target="_blank"
            rel="noopener"
            title="Qu’est-ce que FranceConnect ? - nouvelle fenêtre"
            >Qu’est-ce que FranceConnect ?</a
          >
        </p>
      </div>
    </main>
  </body>
</html>
