<head>
  <title>Connexion avec FranceConnect</title>
  <link rel="stylesheet" href="/dsfr.min.css" />
  <script type="module" src="/dsfr.module.min.js"></script>
  <script type="text/javascript" nomodule src="/dsfr.nomodule.min.js"></script>
</head>
